//
   Created by Lucas on 12/06/2016.

extends banniere



block content
    div#TitreCreation
        div#TitreCreationGauche
            a(href="/Gestion" class="myButton") Retour
        div#TitreCreationDroite
            a(href="/logout" class="myButton") Se déconnecter
        h1 Creation de deck

    div#ListeCarte
        div#ListeCarteGauche
            h3 Listes des types :
            div#systeme_onglets
                div#onglets
                    h4(class="onglet_1 onglet" id="onglet_Tous" onclick="javascript:change_onglet('Tous');") Tous (53)
                    br
                    h4(class="onglet_0 onglet" id="onglet_Pokemons" onclick="javascript:change_onglet('Pokemons');") Pokémons (43)
                    br
                    h4(class="onglet_0 onglet" id="onglet_Energies" onclick="javascript:change_onglet('Energies');") Energies (10)
                    br
                    h4(class="onglet_0 onglet" id="onglet_Dresseurs" onclick="javascript:change_onglet('Dresseurs');") Dresseurs
        div#ListeCarteDroite
            div#ListeCarteCenter
                h3 Listes des cartes
                div.contenu_onglets
                    div.contenu_onglet#contenu_onglet_Tous
                        - for (var i=1 ; i<44 ; i++){
                            div.uneCarte
                                img(src="images/cards/pokemon/XY/XY/" + i + ".png" )
                                br
                                input(type ="checkbox" name="choix" + i value=i)
                        - }
                        - for (var i=50 ; i<59 ; i++){
                            div.uneCarte
                                img(src="images/cards/energy/" + i + ".png")
                                br
                                input(type ="checkbox" name="choix" + i value=i)
                        - }
                        - for (var i=0 ; i<0 ; i++){
                            div.uneCarte
                                img(src="images/cards/trainer/" + i + ".png")
                                br
                                input(type ="checkbox" name="choix" + i value=i)
                        - }
                    div.contenu_onglet#contenu_onglet_Pokemons
                        - for (var i=1 ; i<44 ; i++){
                            div.uneCarte
                                img(src="images/cards/pokemon/XY/XY/" + i + ".png")
                                br
                                input(type ="checkbox" name="choix" + i value=i)
                        - }

                    div.contenu_onglet#contenu_onglet_Energies
                        - for (var i=50 ; i<59 ; i++){
                             div.uneCarte
                                img(src="images/cards/energy/" + i + ".png")
                                br
                                input(type ="checkbox" name="choix" + i value=i)
                        - }

            div#ListeCarteApercu
                h3 Aperçu de la carte
                img(src="images/cards/pokemon/XY/XY/" + $a + ".png")

    div#titreDeck
        div#titreDeck1
            h1 Ton deck :
        div#titreDeck2
            h3 Tout sélectionner
        div#titreDeck3
            button.btn.btn-default(type='' class="myButton") Supprimer la sélection
        div#titreDeck4
            button.btn.btn-default(type='' class="myButton") Enregistrer le deck
        div#titreDeck5
            h3 Nb cartes :

    div#tonDeck
        div#tonDeck1
            h3 Listes des types :
            h4 Tous (nb)
            h4 Energies (nb)
            h4 Dresseurs (nb)
            h4 Pokémons (nb)
        div#tonDeck2